*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

.header{
    display: flex;
    justify-content: space-between;
    margin:10px;
    align-items: center;
    border: 2px solid rgb(236, 227, 227);
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.3);
}

.logo{
    width: 100px;
   
}

.nav-items{
    /* width: 400px; */
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
}
.nav-items>li{
    list-style-type: none;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(243, 103, 10);
    color:#fff;
    padding: 10px;
    border-radius: 5px;
    transition: 0.4s;
    margin: 0px 20px;
}
.nav-items>li:hover{
    background-color: #f2f2f2;
    color: grey;
}

.body{
    margin: 10px;
}
.card-container{
    margin:10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:15px;
}
.card{
    width:300px;
    height: 300px;
    /* border:2px solid #494848; */
    padding: 5px;
    font-weight: 400;
}
.card-image{
    width: 100%;
    height: 200px;
    border-radius: 20px;
}
.rating{
    background-color: green;
    color:#fff;
    padding: 5px;
    border-radius: 4px;
    width: 20%;
    text-align: center;
    transition: transform 0.9s ease;
}
.card:hover{
    transform: scale(0.97);
}
.search{
    text-align: center;
    margin: 50px auto;

}
.input{
    margin-right: 20px;
    padding:10px;
    font-size: 24px;
    outline: none;
    border: none;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
    border-radius: 5px;
    font-weight: bold;
}
.filter-btn{
    padding: 10px;
    font-size: 24px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    background-color:  rgb(243, 103, 10);
    color:white;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
}

.filter-btn:hover{
    background-color: green;
}
.filter-btn:active{
    transform: scale(0.95);
}